@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  max-height: calc(100vh - 64px);
  overflow-y: scroll;
}

.mh-card {
  min-height: calc(100vh - 196px);
}

.mh-chat-card {
  min-height: calc(100vh - 144px);
}
